body {
  font-family: Arial, sans-serif;
  background: #f4f4f4;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-container {
  background: white;
  padding: 30px;
  border-radius: 10px;
  width: 300px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
}

button {
  width: 100%;
  padding: 10px;
  background: #59e721;
  color: white;
  border: none;
  cursor: pointer;
}

.link-conta {
  display: block;
  margin-bottom: 20px;
  font-size: 14px;
  color: #764ba2;
  text-decoration: none;
}
button:hover {
  background: #45d845;
}

#message {
  margin-top: 10px;
  font-weight: bold;
}
