* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
}

/* HEADER */
.cabecalho {
  width: 100%;
  height: 120px;
  background-color: rgb(13, 134, 13);

  display: flex;
  align-items: center;
  justify-content: center; /* CENTRALIZA */
}

.cabecalho img {
  width: 200px;
  max-width: 80%; /* evita quebrar no celular */
}

/* CONTAINER PRINCIPAL */
.container {
  max-width: 1200px;
  margin: auto;
  padding: 20px;
}

/* GRID DE PRODUTOS */
.gridProdutos {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  margin-top: 20px;
}

/* CARD PRODUTO */
.cardProduto {
  background: white;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}
